.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
example/.dart_tool/
example/build/
example/pubspec.lock
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/**/Flutter/ephemeral/
example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
example/ios/Runner/GeneratedPluginRegistrant.*
example/android/.gradle/
example/android/local.properties
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/android/**/gradle-wrapper.jar
example/android/gradlew
example/android/gradlew.bat
example/**/*.iml
example/.idea/
example/.metadata
